assistant updated flow with audio out and image  (1).json
[{"id":"40992dce.7b1994","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"314dd370.e2bddc","type":"watson-conversation-v1","z":"40992dce.7b1994","name":"Resto Bot","workspaceid":"27f0bd29-885f-4de0-b4dc-22a9e6b3087c","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/92c2b7a2-3bad-4da4-8e8e-6325ea07484f","timeout":"","optout-learning":false,"x":440,"y":120,"wires":[["50b070c3.50054"]]},{"id":"70049d3c.2e0ad4","type":"inject","z":"40992dce.7b1994","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["314dd370.e2bddc"]]},{"id":"b433b31d.b0366","type":"debug","z":"40992dce.7b1994","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":160,"wires":[]},{"id":"50b070c3.50054","type":"function","z":"40992dce.7b1994","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["b433b31d.b0366","868faed9.88e03","fb89bdb5.ca7a9","e0f7bc46.f23e3"]]},{"id":"144a5d03.eff263","type":"ui_form","z":"40992dce.7b1994","name":"","label":"","group":"15991a18.818c46","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["d66ce247.d6241"]]},{"id":"d66ce247.d6241","type":"function","z":"40992dce.7b1994","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["314dd370.e2bddc","fa8b4534.cbb318"]]},{"id":"fa8b4534.cbb318","type":"ui_text","z":"40992dce.7b1994","group":"15991a18.818c46","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":380,"wires":[]},{"id":"868faed9.88e03","type":"ui_text","z":"40992dce.7b1994","group":"15991a18.818c46","order":4,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"fb89bdb5.ca7a9","type":"ui_audio","z":"40992dce.7b1994","name":"","group":"15991a18.818c46","voice":"en-US","always":"","x":740,"y":80,"wires":[]},{"id":"e0f7bc46.f23e3","type":"ui_template","z":"40992dce.7b1994","group":"15991a18.818c46","name":"","order":6,"width":"6","height":"11","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":120,"wires":[[]]},{"id":"15991a18.818c46","type":"ui_group","z":"","name":"Chatbot","tab":"e2878a04.0615f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"e2878a04.0615f8","type":"ui_tab","z":"","name":"Resto Bot","icon":"dashboard","disabled":false,"hidden":false}]